<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group md-mr-3 filter filter-sex sm-full" role="group" aria-label="Filter by sex" id="filter-sex">
        <button data-filter="" type="button" class="all btn btn-success active">All</button>
        <button data-filter="men" type="button" class="men btn btn-success">Men</button>
        <button data-filter="women" type="button" class="women btn btn-success">Women</button>
    </div>

    <div class="btn-group filter type filter-type sm-full" role="group" aria-label="Filter by type" id="filter-type">
        <button data-filter="" type="button" class="all btn btn-info active">All</button>
        <button data-filter="short-sleeve-t" type="button" class="short-sleeve-t btn btn-info">Short Sleeve</button>
        <button data-filter="long-sleeve-t" type="button" class="long-sleeve-t btn btn-info">Long Sleeve</button>
    </div>
</div>
