<div id="p{{ product.id }}-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">

        {% for productImage in product.productImages %}
            <div class="carousel-item{% if loop.first %} active{% endif %}">
                <img class="d-block w-100 lazyload" data-original="{{ uploads_url }}{{ productImage.image.filename }}" alt="{{ productImage.image.name }}">
            </div>
        {% endfor %}

    </div>
</div>

<div class="carousel-thumbnails mt-1">
    {% for productImage in product.productImages %}
        <img data-target="#p{{ product.id }}-carousel" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %} lazyload" data-original="{{ uploads_url }}{{ productImage.image.filename }}">
    {% endfor %}
</div>
