{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Shirts For Photographers</a>
    </nav>

    <div class="main container">

        <div class="row">
            <div class="col-md-8 mb60">
                <h2>Premium T-Shirts</h2>
                <p>Browse shirts by:</p>

                <div class="btn-group" role="group" aria-label="Browse by sex">
                    <button type="button" class="btn btn-secondary active">All</button>
                    <button type="button" class="btn btn-secondary">Men</button>
                    <button type="button" class="btn btn-secondary">Women</button>
                </div>

            </div>

            <div class="col-md-4 mb60">
                <h3>Hello</h3>
                <p>Shirts For Photographers started with one concept:</p>
                <p>Make high-quality T-Shirts with simple designs that photographers will get, and non-photographers will still think looks cool.</p>
                <p>We want to make T's that you want to wear, so all our shirts are premium Bella+Canvas or Americal Apparel and 100% cotton.</p>
                <p>Orders are fulfilled by Amazon, and eligible for Amazon Prime.</p>
                <p>Founded by <a href="http://andrewmacrobert.com" target="_blank">Andrew MacRobert</a></p>
            </div>
        </div>
    </div>

{% endblock %}
