{% extends 'base.html.twig' %}

{% block body %}
    <div class="main container-fluid">
        <div class="row">

            <div class="col-lg-9 col-md-12 mb60">
                <h2>Premium T-Shirts</h2>
                {% include 'partials/filters.html' %}
                {% include 'partials/products.html' %}
            </div>

            <div class="col-lg-3 col-md-12 mb60">
                {% include 'partials/sidebar.html' %}
            </div>

            {% include 'partials/modals.html' %}

        </div>
    </div>

{% endblock %}
