parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~

    admin_username: ~
    admin_password: ~

    ftp_username: ~
    ftp_password: ~
    ftp_server: ~
    ftp_port: 21
    uploads_url: http://shirtsforphotographers.com/u/
    default_open_graph_image: 'http://shirtsforphotographers.com/u/ad-rc1.jpg'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
